<!DOCTYPS html>
<html>
    <head>
        <title>Bienvenue sur la plateforme</title>
    </head>
    <body>
        <h1>Yeepee</h1>
        <p>
            Salut !
        </p>
    </body>
</html>